<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Gastrointestinal</key>
	<dict>
		<key>specID</key>
		<string>S10</string>
		<key>name</key>
		<string>Gastrointestinal</string>
		<key>photoName</key>
		<string>Gastrointestinal_Large</string>
		<key>logo</key>
		<string>Gastrointestinal_logo</string>
		<key>activeButtonPhotoName</key>
		<string>Gastrointestinal_Specialisation_Icon</string>
		<key>inactiveButtonPhotoName</key>
		<string>Gastrointestinal_Small_Inactive</string>
		<key>smallIconName</key>
		<string>Gastrointestinal_Specialisation_Icon_-_Small</string>
		<key>productIdentifier</key>
		<string>com.Thinkmobiles.ScrubUp.S10Gastrointestina</string>
		<key>urlDownloadingMain</key>
		<string>https://docs.google.com/uc?export=download&amp;id=0B2IXbcZiM71DUnZmWEFaMXVQTEk</string>
		<key>urlDownloadingTool</key>
		<string>https://docs.google.com/uc?export=download&amp;id=0B2IXbcZiM71DWUxnb3ZEVW5OZmM</string>
		<key>photosPLIST</key>
		<string>https://docs.google.com/uc?export=download&amp;id=0B2IXbcZiM71DZXhRQ2VEdWRGRXM</string>
	</dict>
	<key>General</key>
	<dict>
		<key>specID</key>
		<string>S09</string>
		<key>name</key>
		<string>General</string>
		<key>photoName</key>
		<string>General_Large</string>
		<key>logo</key>
		<string>General_logo</string>
		<key>activeButtonPhotoName</key>
		<string>General_Specialisation_Icon</string>
		<key>inactiveButtonPhotoName</key>
		<string>General_Small_Inactive</string>
		<key>smallIconName</key>
		<string>General_Specialisation_Icon_-_Small</string>
		<key>productIdentifier</key>
		<string>com.Thinkmobiles.ScrubUp.S09General</string>
		<key>urlDownloadingMain</key>
		<string>https://docs.google.com/uc?export=download&amp;id=0B2IXbcZiM71DQXRZRjY4dlNsRVk</string>
		<key>urlDownloadingTool</key>
		<string>https://docs.google.com/uc?export=download&amp;id=0B2IXbcZiM71DT3Zvckp4bTgxMmc</string>
		<key>photosPLIST</key>
		<string>https://docs.google.com/uc?export=download&amp;id=0B2IXbcZiM71DWElyZzhVeFlzZDg</string>
	</dict>
	<key>Cosmetic</key>
	<dict>
		<key>specID</key>
		<string>S08</string>
		<key>name</key>
		<string>Cosmetic</string>
		<key>photoName</key>
		<string>Cosemetic_Large</string>
		<key>logo</key>
		<string>Cosemetic_logo</string>
		<key>activeButtonPhotoName</key>
		<string>Cosmetic_Specialisation_Icon</string>
		<key>inactiveButtonPhotoName</key>
		<string>Cosmetic_Small_Inactive</string>
		<key>smallIconName</key>
		<string>Cosmetic_Specialisation_Icon_-_Small</string>
		<key>productIdentifier</key>
		<string>com.Thinkmobiles.ScrubUp.S08Cosmetic</string>
		<key>urlDownloadingMain</key>
		<string>https://docs.google.com/uc?export=download&amp;id=0B2IXbcZiM71DMlNROHdmYXhQLTg</string>
		<key>urlDownloadingTool</key>
		<string>https://docs.google.com/uc?export=download&amp;id=0B2IXbcZiM71DN2I4ejRqRVhUWlk</string>
		<key>photosPLIST</key>
		<string>https://docs.google.com/uc?export=download&amp;id=0B2IXbcZiM71DYWExOFhlbkJHYTA</string>
	</dict>
	<key>Plastic</key>
	<dict>
		<key>specID</key>
		<string>S07</string>
		<key>name</key>
		<string>Plastic</string>
		<key>photoName</key>
		<string>Plastic_Large</string>
		<key>logo</key>
		<string>Plastic_logo</string>
		<key>activeButtonPhotoName</key>
		<string>Plastic_Specialisation_Icon</string>
		<key>inactiveButtonPhotoName</key>
		<string>Plastic_Small_Inactive</string>
		<key>smallIconName</key>
		<string>Plastic_Specialisation_Icon_-_Small</string>
		<key>productIdentifier</key>
		<string>com.Thinkmobiles.ScrubUp.S07Plastic</string>
		<key>urlDownloadingMain</key>
		<string>https://docs.google.com/uc?export=download&amp;id=0B2IXbcZiM71DUnFTdW1MdTJsZWs</string>
		<key>urlDownloadingTool</key>
		<string>https://docs.google.com/uc?export=download&amp;id=0B2IXbcZiM71DWGV3NFdJcXQwR1k</string>
		<key>photosPLIST</key>
		<string>https://docs.google.com/uc?export=download&amp;id=0B2IXbcZiM71DRDBoV3ZSaEJ2dEk</string>
	</dict>
	<key>Orthopaedic</key>
	<dict>
		<key>specID</key>
		<string>S06</string>
		<key>name</key>
		<string>Orthopaedic</string>
		<key>photoName</key>
		<string>Orthopaedic_Large</string>
		<key>logo</key>
		<string>Orthopaedic_logo</string>
		<key>activeButtonPhotoName</key>
		<string>Orthopeadic_Specialisation_Icon</string>
		<key>inactiveButtonPhotoName</key>
		<string>Orthopeadic_Small_Inactive</string>
		<key>smallIconName</key>
		<string>Orthopeadic_Specialisation_Icon_-_Small</string>
		<key>productIdentifier</key>
		<string>com.Thinkmobiles.ScrubUp.S06Orthopeadic</string>
		<key>urlDownloadingMain</key>
		<string>https://docs.google.com/uc?export=download&amp;id=0B2IXbcZiM71DVWhYdDQ0YmlMNE0</string>
		<key>urlDownloadingTool</key>
		<string>https://docs.google.com/uc?export=download&amp;id=0B2IXbcZiM71DSDNXM3ZoVW9qd1U</string>
		<key>photosPLIST</key>
		<string>https://docs.google.com/uc?export=download&amp;id=0B2IXbcZiM71Da1JROUJJZzZCSmM</string>
	</dict>
	<key>Cardiothoracic</key>
	<dict>
		<key>specID</key>
		<string>S05</string>
		<key>name</key>
		<string>Cardiothoracic</string>
		<key>photoName</key>
		<string>Cardiothoracic_Large</string>
		<key>logo</key>
		<string>Cardiothoracic_logo</string>
		<key>activeButtonPhotoName</key>
		<string>Cardiothoracic_Specialisation_Icon</string>
		<key>inactiveButtonPhotoName</key>
		<string>Cardiothoracic_Small_Inactive</string>
		<key>smallIconName</key>
		<string>Cardiothoracic_Specialisation_Icon_-_Small</string>
		<key>productIdentifier</key>
		<string>com.Thinkmobiles.ScrubUp.S05Cardiothoracic</string>
		<key>urlDownloadingMain</key>
		<string>https://docs.google.com/uc?export=download&amp;id=0B2IXbcZiM71DTDRyQng5d0NUaUk</string>
		<key>urlDownloadingTool</key>
		<string>https://docs.google.com/uc?export=download&amp;id=0B2IXbcZiM71DVm85N2daanJSQjQ</string>
		<key>photosPLIST</key>
		<string>https://docs.google.com/uc?export=download&amp;id=0B2IXbcZiM71DWlB3VVlSY3lVVjg</string>
	</dict>
	<key>Ophthalmology</key>
	<dict>
		<key>specID</key>
		<string>S04</string>
		<key>name</key>
		<string>Ophthalmology</string>
		<key>photoName</key>
		<string>Opthomology_Large</string>
		<key>logo</key>
		<string>Opthomology_logo</string>
		<key>activeButtonPhotoName</key>
		<string>Opthomology_Specialisation_Icon</string>
		<key>inactiveButtonPhotoName</key>
		<string>Opthomology_Small_Inactive</string>
		<key>smallIconName</key>
		<string>Opthomology_Specialisation_Icon_-_Small</string>
		<key>productIdentifier</key>
		<string>com.Thinkmobiles.ScrubUp.S04Opthalmology</string>
		<key>urlDownloadingMain</key>
		<string>https://docs.google.com/uc?export=download&amp;id=0B2IXbcZiM71DWWI1dWx5aVpTWVE</string>
		<key>urlDownloadingTool</key>
		<string>https://docs.google.com/uc?export=download&amp;id=0B2IXbcZiM71Db1RXdUpFMklva1k</string>
		<key>photosPLIST</key>
		<string>https://docs.google.com/uc?export=download&amp;id=0B2IXbcZiM71DeWdKdnFBNEJJUnM</string>
	</dict>
	<key>Obstetric</key>
	<dict>
		<key>specID</key>
		<string>S03</string>
		<key>name</key>
		<string>Obstetric</string>
		<key>photoName</key>
		<string>Obstetric_Large</string>
		<key>logo</key>
		<string>Obstetric_logo</string>
		<key>activeButtonPhotoName</key>
		<string>Obstetric_Specialisation_Icon</string>
		<key>inactiveButtonPhotoName</key>
		<string>Obstetric_Small_Inactive</string>
		<key>smallIconName</key>
		<string>Obstetric_Specialisation_Icon_-_Small</string>
		<key>productIdentifier</key>
		<string>com.Thinkmobiles.ScrubUp.S03Obstetric</string>
		<key>urlDownloadingMain</key>
		<string>https://docs.google.com/uc?export=download&amp;id=0B2IXbcZiM71DenpVQjdBaXRpYWs</string>
		<key>urlDownloadingTool</key>
		<string>https://docs.google.com/uc?export=download&amp;id=0B2IXbcZiM71DWEF6T0p3OVA3SzA</string>
		<key>photosPLIST</key>
		<string>https://docs.google.com/uc?export=download&amp;id=0B2IXbcZiM71DbHR2cFRIakhaQW8</string>
	</dict>
	<key>Gynaecology</key>
	<dict>
		<key>specID</key>
		<string>S02</string>
		<key>name</key>
		<string>Gynaecology</string>
		<key>photoName</key>
		<string>Gynaecology_Large</string>
		<key>logo</key>
		<string>Gynaecology_logo</string>
		<key>activeButtonPhotoName</key>
		<string>Gynaecology_Specialisation_Icon</string>
		<key>inactiveButtonPhotoName</key>
		<string>Gynaecology_Small_Inactive</string>
		<key>smallIconName</key>
		<string>Gynaecology_Specialisation_Icon_-_Small</string>
		<key>productIdentifier</key>
		<string>com.Thinkmobiles.ScrubUp.S02Gyneacology</string>
		<key>urlDownloadingMain</key>
		<string>https://docs.google.com/uc?export=download&amp;id=0B2IXbcZiM71DUWFMT2VPY29mTG8</string>
		<key>urlDownloadingTool</key>
		<string>https://docs.google.com/uc?export=download&amp;id=0B2IXbcZiM71DaXJKWXhwN2hxRjQ</string>
		<key>photosPLIST</key>
		<string>https://docs.google.com/uc?export=download&amp;id=0B2IXbcZiM71DTXRWMmQwMDMtLTQ</string>
	</dict>
	<key>ENT</key>
	<dict>
		<key>specID</key>
		<string>S01</string>
		<key>name</key>
		<string>ENT</string>
		<key>photoName</key>
		<string>ENT_Large</string>
		<key>logo</key>
		<string>ENT_logo</string>
		<key>activeButtonPhotoName</key>
		<string>ENT_Small_Active</string>
		<key>inactiveButtonPhotoName</key>
		<string>ENT_Small_Inactive</string>
		<key>smallIconName</key>
		<string>ENT_Specialisation_Icon_-_Small</string>
		<key>productIdentifier</key>
		<string>com.Thinkmobiles.ScrubUp.S01ENTENT</string>
		<key>urlDownloadingMain</key>
		<string>https://docs.google.com/uc?export=download&amp;id=0B2IXbcZiM71DU2c5WjdMMFNJY3M</string>
		<key>urlDownloadingTool</key>
		<string>https://docs.google.com/uc?export=download&amp;id=0B2IXbcZiM71DWUNUdVRROTRjNEk</string>
		<key>photosPLIST</key>
		<string>https://docs.google.com/uc?export=download&amp;id=0B2IXbcZiM71Dc0FZZUNjRzVJMms</string>
	</dict>
</dict>
</plist>
