<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Gastrointestina</key>
	<dict>
		<key>specID</key>
		<string>S10</string>
		<key>photoName</key>
		<string>Gastrointestina_Large</string>
		<key>activeButtonPhotoName</key>
		<string>Gastrointestina_Small_Active</string>
		<key>inactiveButtonPhotoName</key>
		<string>Gastrointestina_Small_Inactive</string>
		<key>smallIconName</key>
		<string>Gastrointestina_Specialisation_Icon_-_Small</string>
		<key>productIdentifier</key>
		<string>com.Thinkmobiles.Periop.S10Gastrointestina</string>
		<key>urlDownloadingMain</key>
		<string></string>
		<key>urlDownloadingTool</key>
		<string></string>
	</dict>
	<key>General</key>
	<dict>
		<key>specID</key>
		<string>S09</string>
		<key>photoName</key>
		<string>General_Large</string>
		<key>activeButtonPhotoName</key>
		<string>General_Small_Active</string>
		<key>inactiveButtonPhotoName</key>
		<string>General_Small_Inactive</string>
		<key>smallIconName</key>
		<string>General_Specialisation_Icon_-_Small</string>
		<key>productIdentifier</key>
		<string>com.Thinkmobiles.Periop.S09General</string>
		<key>urlDownloadingMain</key>
		<string></string>
		<key>urlDownloadingTool</key>
		<string></string>
	</dict>
	<key>Cosmetic</key>
	<dict>
		<key>specID</key>
		<string>S08</string>
		<key>photoName</key>
		<string>Cosemetic_Large</string>
		<key>activeButtonPhotoName</key>
		<string>Cosmetic_Small_Active</string>
		<key>inactiveButtonPhotoName</key>
		<string>Cosmetic_Small_Inactive</string>
		<key>smallIconName</key>
		<string>osmetic_Specialisation_Icon_-_Small</string>
		<key>productIdentifier</key>
		<string>com.Thinkmobiles.Periop.S08Cosmetic</string>
		<key>urlDownloadingMain</key>
		<string></string>
		<key>urlDownloadingTool</key>
		<string></string>
	</dict>
	<key>Plastic</key>
	<dict>
		<key>specID</key>
		<string>S07</string>
		<key>photoName</key>
		<string>Plastic_Large</string>
		<key>activeButtonPhotoName</key>
		<string>Plastic_Small_Active</string>
		<key>inactiveButtonPhotoName</key>
		<string>Plastic_Small_Inactive</string>
		<key>smallIconName</key>
		<string>Plastic_Specialisation_Icon_-_Small</string>
		<key>productIdentifier</key>
		<string>com.Thinkmobiles.Periop.S07Plastic</string>
		<key>urlDownloadingMain</key>
		<string></string>
		<key>urlDownloadingTool</key>
		<string></string>
	</dict>
	<key>Orthopeadic</key>
	<dict>
		<key>specID</key>
		<string>S06</string>
		<key>photoName</key>
		<string>Orthopaedic_Large</string>
		<key>activeButtonPhotoName</key>
		<string>Orthopeadic_Small_Active</string>
		<key>inactiveButtonPhotoName</key>
		<string>Orthopeadic_Small_Inactive</string>
		<key>smallIconName</key>
		<string>Orthopeadic_Specialisation_Icon_-_Small</string>
		<key>productIdentifier</key>
		<string>com.Thinkmobiles.Periop.S06Orthopeadic</string>
		<key>urlDownloadingMain</key>
		<string></string>
		<key>urlDownloadingTool</key>
		<string></string>
	</dict>
	<key>Cardiothoracic</key>
	<dict>
		<key>specID</key>
		<string>S05</string>
		<key>photoName</key>
		<string>Cardiothoracic_Large</string>
		<key>activeButtonPhotoName</key>
		<string>Cardiothoracic_Small_Active</string>
		<key>inactiveButtonPhotoName</key>
		<string>Cardiothoracic_Small_Inactive</string>
		<key>smallIconName</key>
		<string>Cardiothoracic_Specialisation_Icon_-_Small</string>
		<key>productIdentifier</key>
		<string>com.Thinkmobiles.Periop.S05Cardiothoracic</string>
		<key>urlDownloadingMain</key>
		<string></string>
		<key>urlDownloadingTool</key>
		<string></string>
	</dict>
	<key>Opthalmology</key>
	<dict>
		<key>specID</key>
		<string>S04</string>
		<key>photoName</key>
		<string>Opthomology_Large</string>
		<key>activeButtonPhotoName</key>
		<string>Opthalmology_Small_Active</string>
		<key>inactiveButtonPhotoName</key>
		<string>Opthalmology_Small_Inactive</string>
		<key>smallIconName</key>
		<string>Opthalmology_Specialisation_Icon_-_Small</string>
		<key>productIdentifier</key>
		<string>com.Thinkmobiles.Periop.S04Opthalmology</string>
		<key>urlDownloadingMain</key>
		<string></string>
		<key>urlDownloadingTool</key>
		<string></string>
	</dict>
	<key>Obstetric</key>
	<dict>
		<key>specID</key>
		<string>S03</string>
		<key>photoName</key>
		<string>Obstetric_Large</string>
		<key>activeButtonPhotoName</key>
		<string>Obstetric_Small_Active</string>
		<key>inactiveButtonPhotoName</key>
		<string>Obstetric_Small_Inactive</string>
		<key>smallIconName</key>
		<string>Obstetric_Specialisation_Icon_-_Small</string>
		<key>productIdentifier</key>
		<string>com.Thinkmobiles.Periop.S03Obstetric</string>
		<key>urlDownloadingMain</key>
		<string></string>
		<key>urlDownloadingTool</key>
		<string></string>
	</dict>
	<key>Gyneacology</key>
	<dict>
		<key>specID</key>
		<string>S02</string>
		<key>photoName</key>
		<string>Gynaecology_Large</string>
		<key>activeButtonPhotoName</key>
		<string>Gyneacology_Small_Active</string>
		<key>inactiveButtonPhotoName</key>
		<string>Gyneacology_Small_Inactive</string>
		<key>smallIconName</key>
		<string>Gyneacology_Specialisation_Icon_-_Small</string>
		<key>productIdentifier</key>
		<string>com.Thinkmobiles.Periop.S02Gyneacology</string>
		<key>urlDownloadingMain</key>
		<string></string>
		<key>urlDownloadingTool</key>
		<string></string>
	</dict>
	<key>ENT</key>
	<dict>
		<key>specID</key>
		<string>S01</string>
		<key>photoName</key>
		<string>ENT_Large</string>
		<key>activeButtonPhotoName</key>
		<string>ENT_Small_Active</string>
		<key>inactiveButtonPhotoName</key>
		<string>ENT_Small_Inactive</string>
		<key>smallIconName</key>
		<string>ENT_Specialisation_Icon_-_Small</string>
		<key>productIdentifier</key>
		<string>com.Thinkmobiles.Periop.S01ENT</string>
		<key>urlDownloadingMain</key>
		<string></string>
		<key>urlDownloadingTool</key>
		<string></string>
	</dict>
</dict>
</plist>
